body {
    padding-top: 10%;
}

.header {
    margin-top: 0%;
    position: fixed;
    background-color: white;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    padding-left: 10px;
    margin-left: -8px;
    margin-top: -10.5%;
    box-shadow: 0 2px 2px grey;
}

.company-name {
    padding-left: 3%;
    font-size: 18px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    padding-left: 55%;
    font-size: 17px;
}

.header-menu-item {
    padding-right: 28px;
    padding-top: 8px;
}

.header-menu-item:hover {
    color: rgba(0, 102, 255, 0.932);
}

.sign-up {
    display: inline-block;
    color: rgba(0, 102, 255, 0.932);
    border: 1.25px solid rgb(109, 109, 247);
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 30px;
    padding-right: 0px;
}

.sign-up:hover{
    background-color: rgba(0, 102, 255, 0.932);
    color: white;
}

.main-body {
    text-align: center;
    line-height: 22px;
}

.main-body-sub p {
    display: block;
    width: 50%;
    margin-left: 25%;
    padding-bottom: 40px;
    font-size: 17.5px;
    line-height: 28px;
}

h1 {
    font-weight: 400;
}

.subscription {
    display: flex;
    flex-direction: row;
    margin-left: 22.5%;
    margin-bottom: 10%;
}

.subscription-header {
    display: inline-block;
    border-bottom: 1px solid grey;
    background-color: rgb(228, 224, 224);
    height: 45px;
    width: 100%;
    font-size: 21px;
    line-height: 46px;
}

.subscription-item {
    border: 1px gray solid;
    margin-right: 5%;
    padding-bottom: 10px;
    min-width: 225px;
    color: black;
    border-radius: 5px;
    line-height: 12px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.number {
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 10px;
}

.number:after{
    content: '\2009/\2009mo';
    color: grey;
}
.help-btn {
    display: inline-block;
    color: rgba(0, 102, 255, 0.932);
    border: 1.25px solid rgb(109, 109, 247);
    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 40px;
    padding-right: 0px;
    line-height: 40px;
}

.help-btn:hover {
    background-color: rgba(0, 102, 255, 0.932);
    color: white;
}

.footer {
    padding-left: 25%;
    line-height: 24px;
    font-size: 17px;
}

thead {
    font-size: 19px;
}

td {
    padding-right: 80px;
}